<a href="https://colab.research.google.com/github/Nomad653/Python/blob/main/Pipelines/Logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from scipy.stats import zscore

In [ ]:
data = pd.read_csv("/content/train.csv")

In [ ]:
new_data = data.drop(columns=["HomePlanet","Name","PassengerId"])

In [ ]:
new_data['Total_billed'] = new_data.RoomService + new_data.FoodCourt + new_data.ShoppingMall +new_data.Spa +new_data.VRDeck

In [ ]:
new_data

,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Total_billed
0,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0.0
1,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,736.0
2,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,10383.0
3,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,5176.0
4,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,1091.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,8536.0
8689,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,0.0
8690,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,1873.0
8691,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,4637.0
8692,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,4826.0

In [ ]:
X  =new_data.drop("Transported",axis=1)

y = new_data["Transported"]

In [ ]:
num=X.select_dtypes(include="number").columns
cat=X.select_dtypes(include="object").columns

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
num_pipeline = Pipeline(steps=[("num_imputer", SimpleImputer(strategy="mean",missing_values=np.nan)),
                               ("scaler",StandardScaler())
                        ])

cat_pipeline = Pipeline(steps=[
                               ('imputer',SimpleImputer(strategy="most_frequent",missing_values=np.nan)),
                               ('onehot',OneHotEncoder(handle_unknown="ignore"))
])

In [ ]:
preprocessor = ColumnTransformer([("numerical_pipeline",num_pipeline,num),
                                  ("categorical_pipeline",cat_pipeline,cat)
                                  ])

In [ ]:
pipe = Pipeline(steps=[
                       ("preprocessor",preprocessor),
                       
                       ("lr",LogisticRegression(max_iter=300)),
                       

])

In [ ]:
X_train = pipe.fit(X_train,y_train)

In [ ]:
predictions = pipe.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.model_selection import RepeatedStratifiedKFold

In [ ]:
acc1 = accuracy_score(y_test,predictions)

In [ ]:
acc1

0.7809085681426107